body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.header {
    font-family: 'Droid Serif', serif;
    height: 65px;
    width: 100%;
    margin: 0px;
    font-size: 22px;
    color: #ffe4e4;
    background-color: #f8575a;
}
.header > .title  > a{
    color: #ffe4e4;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    padding: 14px 30px;
    float: left;
    font-weight: 700;
    font-size: 26px;
}

.header > .user {
    padding: 20px 30px;
    float: right;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.container.main {
    background-image: url("../images/background.png");
    background-size: cover;
    min-height: 1000px;
    /*display: flex;*/
    width: 100%;
}

.container.left {
    /*flex-grow: 65;*/
    width:65%;
    min-height: 1000px;
    background-color: rgba(255, 255, 255, 1);
    float: left;
}
.container.right {
    border-top: 1px solid #eaa9aa;
    width:35%;
    float: left;
    /*flex-grow: 35;*/
    min-height: 1000px;
}

.hero-image {
    background-image: url("../images/food/pizza-wide.jpg");
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;
}
.hero-container {
    position: absolute;
    top: 80px;
    right: 80px;
    background-color: rgba(255,255,255,0.85);
    color: #353535;
    border-radius: 5px;
    min-width: 230px;
    /*height: 100px;*/
    padding: 20px;
}
.hero-title {
    font-size: 23px;
    font-weight: 600;
}
.hero-subtitle {
    color: #555;
}
.hero-subtitle > .fa {
    padding-right: 7px;
}

.menu-container {
    padding: 40px 50px;
}

.menu-container > .title {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 30px;
}
.section > .title {
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 10px;
}

.headers { 
    position: relative; 
    height: 40px;
    border-bottom: 1px solid #ddd;
    padding: 9px 0 ;
    /*width: 600px;*/
}
.headers > * { position: absolute; top: 19px;}

.headers > .items { left: 10px; }
.headers > .quantity { left: 268px; }
.headers > .price { left: 400px; }

.item {
    position: relative;
    height: 80px;
    /*width: 600px;*/
    border-bottom: 1px solid #ddd;
    margin: 25px 0;
    padding: 9px 0;
}

.item > .image {
    top: 5px;
    left: 8px;
    border-radius: 5px;
    position: absolute;
    height: 70px;
    width: 70px;
    background-image: url("../images/food/slice.jpeg");
    background-size: cover;
}

.item > .name {
    top: 25px;
    left: 105px;
    position: absolute;
    height: 70px;
    width: 70px;
}
.item > .quantity {
    top: 25px;
    left: 265px;
    position: absolute;
    width: 30px;
    height: 20px;
}
.item > .price {
    top: 25px;
    left: 405px;
    position: absolute;
    height: 70px;
    width: 70px;
}
.item > .add {
    top: 21px;
    left: 595px;
    position: absolute;
    cursor: pointer;
    /* height: 30px; */
    /* width: 140px; */
    padding: 7px 20px;
    background-color: #f8575a;
    border-radius: 6px;
    color: #fff0f0;
}

.container.right {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: 1px solid #bbb;
    background-color: white;
}
.progress-bar {
    background-color: silver;
    height: 100px;
}
.timer {
    font-size: 28px;
    text-align: center;
    padding: 20px;
    font-weight: 700;
    letter-spacing: 5px;
}
.progress-bar {
    border: 1px solid #dadada;
    border-radius: 5px;
    width: 360px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eaeaea+100 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0  ); /* IE6-9 */
    -webkit-box-shadow: 2px 3px 17px 0px rgba(199,199,199,0.7);
    -moz-box-shadow: 2px 3px 17px 0px rgba(199,199,199,0.7);
    box-shadow: 2px 3px 17px 0px rgba(199,199,199,0.7);
}


.discount-bar {
    position: absolute;
    top: 10px;
    left: -7px;
    width: 441px;
    height: 51px;
    background-size: cover;
}
.discount-text {
    position: absolute;
    text-align: center;
    top: 8px;
    font-weight: 700;
    border-right: 1px solid #cacaca;
    width: 90px;
    color: #555;
}
.discount-text .dollars {
    position: relative;
    top: -5px;
    font-size: 12px;
    font-weight: 400;
}
.discount-text:nth-child(1) { left: 5px; }
.discount-text:nth-child(2) { left: 95px; }
.discount-text:nth-child(3) { left: 185px; }
.discount-text:nth-child(4) { left: 275px; border-right: none; }

.discount-progress-1 {
    height: 7px;
    border-radius: 7px;
    width: 250px;
    top: 65px;
    left: 10px;
    position: absolute;
    background-color: #1CAE9A;
    z-index: 1;
}
.discount-progress-2 {
    height: 7px;
    border-radius: 7px;
    width: 0;
    top: 65px;
    left: 10px;
    position: absolute;
    background-color: #94ded4;
}

.cart {
    margin-top: 20px;
    width: 500px;
    margin-left: 160px;
    margin-bottom: 30px;
}
.entry {
    font-size: 13px;
    position: relative;
    height: 26px;
    /*width: 320px;*/
    /*margin-left: 50px;*/
    border-bottom: 1px solid #dedede;
    line-height: 26px;

}
.entry > * { position: absolute; }
.entry > .name { left: 10px; font-weight: 700; }
.entry > .price { left: 150px; }
.entry > .quantity { left: 240px; }

.amounts {
    height: 110px;
    font-size: 13px;
    position: absolute;
    right: 30px;
}
.amounts table {

}
.amounts table td:nth-child(1) {
    text-align: left;
    width: 120px;
}
.amounts table td:nth-child(2) {
    text-align: right;
}

.amounts .taxes, .amounts .subtotal {
    color: #888;
}
.amounts .discount {
    color: #f8575a;
}
.amounts .total {
    font-weight: 700;
}

.members-containers {
    position: absolute;
    top: 500px;
    width: 35%;
    padding: 40px;
    border-top: 1px solid gray;
}

.members-title {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 30px;
}
.member .image {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-image: url("../images/img_bryan.png");
    display: inline-block;
}
.member .name {
    display: inline-block;
    position: relative;
    top: -13px;
    left: 9px;
}
