body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.header {
    font-family: 'Droid Serif', serif;
    height: 65px;
    width: 100%;
    margin: 0px;
    font-size: 22px;
    color: #444;
    border-bottom: 1px solid #ddd;
}

.title {
    padding: 20px 30px;
    float: left;
}

.hero-title {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 43px;
    padding-bottom: 9px;
    font-weight: 700;
}

.hero-subtitle {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 19px;
    padding-bottom: 50px;
}

.user {
    padding: 21px 30px;
    float: right;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.container.main {
    padding-top: 50px;
    background-image: url("../images/background.png");
    background-size: cover;
}


.container.outlet {
    width: 850px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    padding-top: 15px;
    border-radius: 10px;
}
.filter {
    width: 788px;
    height: auto;
    margin: 0 auto;
    position: relative;
    color: grey;
    font-size: 12px;
}
.search-bar {
    position: relative;
    padding: 18px 25px;
    width: 600px;
    margin: 0 auto;
    background-color: #f3f3f3;
    border-radius: 5px;
    font-family: 'Droid Serif', serif;
    margin-bottom: 40px;
    color: #888;
}

.search-bar .fa.fa-search {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 20px;
}
.outlet-card {
    width: 800px;
    height: 160px;
    background-color: #f7f7f7;
    border: 1px solid #dcdcdc;
    margin: 0 auto;
    margin-top: 11px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
}
.outlet-card .party-info {
    position: absolute;
    height: 60px;
    width: 120px;
    top: 84px;
    right: 17px;
    text-align: right;
}
.outlet-card .party-info .party-current {
    position: absolute;
    top: 50%;
    right: 28px;
    font-size: 20px;
    font-weight: bold;
    transform: translateY(-50%);
}

.outlet-card .party-info .party-max {
    position: absolute;
    top: 28px;
    right: 0px;
}
.outlet-card .dist-from-you {
    position: absolute;
    top: 59px;
    right: 17px;
    height: auto;
    width: auto;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}
.outlet-card .dist-from-you-icon {
    position: absolute;
    background-image: url(../images/distance_from_you.png);
    background-size: contain;
    height: 25px;
    width: 25px;
    top: 50%;
    left: -33px;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    opacity: 0.5;
}
.outlet-card .party-info .fa.fa-users {
    position: absolute;
    font-size: 25px;
    color: #888;
    top: 50%;
    transform: translateY(-50%);
    right: 65px;
}
.outlet-card .image {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    height: 100%;
    width: 180px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 1px solid #dcdcdc;
}
.outlet-card .title {
    position: absolute;
    padding: 0;
    top: 13px;
    left: 203px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.outlet-card .price {
    position: absolute;
    padding: 0;
    top: 48px;
    left: 283px;
    color: #aaa;
}
.outlet-card .location {
    position: absolute;
    padding: 0;
    top: 67px;
    left: 204px;
    color: #aaa;
}

.outlet-card .subtitle {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.outlet-card .stars {
    position: absolute;
    top: 50px;
    left: 204px;
    height: 14px;
    width: 61px;
    background-size: cover;

}

.outlet-card .deadline {
    position: absolute;
    top: 20px;
    right: 17px;
    height: 30px;
    width: 140px;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
}
.outlet-card .fa.fa-clock-o {
    padding-right: 8px; 
    color: #888;
}
.outlet-card .stars.four {
    background-image: url("../images/four-stars.png");
}
.outlet-card .stars.five {
    background-image: url("../images/five-stars.png");
}
.outlet-card .fa.fa-map-marker {
    padding-right: 8px;
    color: #baa
}
.image.bagel { 
    background-image: url("../images/food/bagel.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.image.taco { 
    background-image: url("../images/food/taco.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.image.pizza { 
    background-image: url("../images/food/pizza.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

.discount-bar {
    background-image: url(../images/img_discount_status.png);
    position: absolute;
    top: 90px;
    left: 204px;
    width: 441px;
    height: 51px;
    background-size: cover;
}
.discount-text {
    position: absolute;
    text-align: center;
    top: 8px;
    font-weight: 700;
    border-right: 1px solid #cacaca;
    width: 90px;

}
.discount-text:nth-child(1) { left: 5px; }
.discount-text:nth-child(2) { left: 95px; }
.discount-text:nth-child(3) { left: 185px; }
.discount-text:nth-child(4) { left: 275px; }

.discount-progress-1 {
    height: 7px;
    border-radius: 7px;
    width: 281px;
    top: 124px;
    left: 213px;
    position: absolute;
    background-color: #1CAE9A;
}

.discount-progress-2 {
    height: 7px;
    border-radius: 7px;
    width: 214px;
    top: 124px;
    left: 213px;
    position: absolute;
    background-color: #1CAE9A;
}
.discount-progress-3 {
    height: 7px;
    border-radius: 7px;
    width: 342px;
    top: 124px;
    left: 213px;
    position: absolute;
    background-color: #1CAE9A;
}
.cart-icon {
    background-image: url(../images/icon_join_cart.png);
    background-size: cover;
    height: 28px;
    width: 30px;
    top: 94px;
    left: 595px;
    position: absolute;
}
.cart-text {
    color: white;
    font-size: 9px;
    height: 28px;
    width: 30px;
    top: 121px;
    left: 599px;
    position: absolute;
}
